<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Workout Logger</title>

  </head>

  <body>
    <header>
      <h1>Keep track of it!</h1>
    </header>
    <nav>

    </nav>
    <main>

      <div class="workouts">
        {{{body}}}
      </div>
    </main>

  </body>

</html>