{{#if noLogs}}
  <div class="text-center">
    <h2>🤔 it looks pretty empty here!</h2>
    <h3>try making a new log by pressing the ➕ in the right corner </h3>
  </div>
{{/if}}
{{#each logs as |log|}}
  <div class="row">

    <div class="card log-details col-6 mx-auto" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">{{log.workout_type}}</h5>
        <p class="card-text">{{log.details}}</p>
      </div>
    </div>
  </div>

{{/each}}