<div>
  <h1>All
    <strong>
      {{workoutType}}
    </strong>
    workouts by
    <strong>
      {{username}}
    </strong>
  </h1>

  {{#each logs as |log|}}
    <div class="row">

      <div class="card log-details col-6 mx-auto" style="width: 18rem;">
        <div class="card-body">
          <p class="card-text">{{log.details}}</p>
        </div>
      </div>
    </div>

  {{/each}}
</div>