<div class="row justify-content-center logo">
  <i
    class="bi bi-activity text-center animate__animated animate__backInDown"
  ></i>
  <h2 class="text-center">Log In</h2>
</div>

<div class="row user-form justify-content-center">
  <input
    class="form-input"
    type="text"
    placeholder="Username"
    id="username-login"
  />
  <input
    class="form-input"
    type="password"
    placeholder="Password"
    id="password-login"
  />
  <button id="login" class="btn" type="submit">Log In</button>

</div>

<div class="row justify-content-center mt-2">
  <input class="rem-me" type="checkbox" value="lsRememberMe" id="rememberMe" />

  <label class="rem-me" for="rememberMe">Remember me</label>
</div>

<hr class="hr" />
<p class="text-center sign-up-p">Are you new here?
  <a href="/signup" id="sign-up-a">Sign up!</a>
</p>

<script src="/js/login.js"></script>