<div class="row justify-content-center logo">
  <i class="bi bi-activity text-center"></i>
  <h2 class="text-center">Log in</h2>
</div>
<div class="row user-form justify-content-center">
  <input
    class="form-input"
    type="text"
    placeholder="username"
    id="username-login"
  />
  <input class="form-input" type="password" id="password-login" />
  <button id="login" class="btn" type="submit">log in</button>

</div>

<div class="row justify-content-center mt-2">
  <input class="rem-me" type="checkbox" value="lsRememberMe" id="rememberMe" />

  <label class="rem-me" for="rememberMe">remember me</label>
</div>

<hr class="hr" />
<p class="text-center sign-up-p">or
  <a href="/signup" id="sign-up-a">sign up</a>
  here</p>

<script src="/js/login.js"></script>