<link rel="stylesheet" href="/css/newLog.css" />

<div class="row text-center justify-content-center pt-3">
  <form class="form-size col-lg-4 col-md-6 col-sm-12">
    <div>
      <label for="workout-type" class="form-label">What did you do?</label>
      <input
        type="text"
        class="form-control"
        name="workout-type"
        placeholder="Bike, run, etc."
        aria-describedby="enter workout type"
      />
    </div>

    <div class="mb-3 mt-2">
      <label for="workout-details" class="form-label">Add some details about
        your workout.</label>
      <textarea
        type="text"
        class="form-control"
        placeholder="Rode 5 miles, sunny day, felt pretty good..."
        name="workout-details"
        aria-describedby="enter workout details"
      ></textarea>
    </div>

    <div class="pb-2">
      <button class="btn btn-outline-primary" id="new-log-form">Submit</button>
    </div>
  </form>
</div>

<script
  src="https://code.jquery.com/jquery-3.6.1.min.js"
  integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
  crossorigin="anonymous"
></script>
<script src="/js/newLog.js"></script>