<div class="post row text-center justify-content-center pt-3">
  <h2></h2>
  <form class="col-4">
    <div class="">
      <label for="workout-type" class="form-label">What did you do?</label>
      <input
        type="text"
        class="form-control"
        name="workout-type"
        aria-describedby="enterWorkoutType"
      />

    </div>
    <div class="mb-3">
      <label for="workout-details" class="form-label">Tell me some details</label>
      <textarea
        type="text"
        class="form-control"
        name="workout-details"
      ></textarea>
    </div>

    <div class="pb-2">

      <button class="btn btn-outline-primary" id="new-log-form">Submit</button>
    </div>
  </form>
</div>

<script src="/js/newLog.js"></script>