<div class="post card">
  <h2>Create a new workout log</h2>
  <form>
    <div class="mb-3">
      <label for="workout-type" class="form-label">What did you do?</label>
      <input
        type="text"
        class="form-control"
        name="workout-type"
        aria-describedby="enterWorkoutType"
      />

    </div>
    <div class="mb-3">
      <label for="workout-details" class="form-label">Tell me some details</label>
      <textarea
        type="text"
        class="form-control"
        name="workout-details"
      ></textarea>
    </div>

    <button class="btn btn-primary" id="new-log-form">Submit</button>
  </form>
</div>

<script src="/js/newLog.js"></script>