<section class="text-center page-copy">
  <h1>The easiest way to remember your fitness activities.</h1>

  <p>Log bike rides, track trail runs, it's really up to you. Whatever
    activities call your name, we'll be here to help you record and track your
    progress.
  </p>

  <a class="btn" href="/signup" role="button">Sign Me Up!</a>
</section>

<script src="./js/noAuth.js"></script>