<section class="text-center page-copy">
  <h1>the easiest way to track your fitness activities.</h1>

  <p>log bike rides, track trail runs, it's really up to you. whatever activity
    calls your name, we'll be here to help you log your stats and track your
    progress.
  </p>

  <a class="btn" href="/signup" role="button">sign me up</a>
</section>

<section class="UI text-white text-center">
  <p>add in images of adding new post into db</p>
</section>

<section class="reviews text-white text-center">
  <p>add in ul of reviews</p>
</section>
<script src="./js/noAuth.js"></script>