<div class="row justify-content-center logo">
  <i
    class="bi bi-activity text-center animate__animated animate__backInDown"
  ></i>
  <h2 class="text-center">Sign Up</h2>
</div>
<div class="row user-form justify-content-center">
  <input
    class="form-input"
    placeholder="Username"
    type="text"
    id="username-signup"
  />
  <input
    class="form-input"
    type="password"
    placeholder="Password"
    id="password-signup"
  />
  <button id="signup" class="btn" type="submit">Sign Up</button>

</div>

<hr class="hr" />
<p class="text-center log-in-p">Been here before?
  <a href="/login" id="log-in-a">Log in!</a>
</p>

<script src="/js/signup.js"></script>