<div class="row justify-content-center logo">
  <i class="bi bi-activity text-center"></i>
  <h2 class="text-center">Sign up</h2>
</div>
<div class="row user-form justify-content-center">
  <input
    class="form-input"
    placeholder="username"
    type="text"
    id="username-signup"
  />
  <input
    class="form-input"
    type="password"
    placeholder="password"
    id="password-signup"
  />
  <button id="signup" class="btn" type="submit">sign up</button>

</div>

<hr class="hr" />
<p class="text-center log-in-p">or
  <a href="/login" id="log-in-a">log in</a>
  here</p>

<script src="/js/signup.js"></script>