:root {
  --orange: #ee6c4d;
  --pale-blue: #e0fbfc;
  --med-blue: #98c1d9;
  --dark-blue: #3d5a80;
  --darkest-blue: #293241;
}

body {
  background-image: url('../assets/pexels-orest-sv-1821694.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

main {
  height: 100vh;
  /* background: rgb(224, 251, 252);
  background: linear-gradient(
    193deg,
    rgba(224, 251, 252, 1) 24%,
    rgba(238, 108, 77, 1) 100%
  ); */
  /* background-image: url('../assets/pexels-orest-sv-1821694.jpg');
  background-size: cover;
  background-repeat: no-repeat; */
}

.navbar {
  padding: 0;
}

.navbar-brand,
.navbar-brand-disabled {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 2rem;
  color: var(--orange);
  padding-left: 1rem;
  padding-top: 0.5rem;
  text-shadow: black 0px 0px 1px;
}

.navbar-brand:hover {
  color: var(--med-blue);
}

.navbar-nav {
  flex-direction: row;
}

.bi {
  color: white;
  font-size: 2rem;
}

h1 {
  /* font-family: 'Xanh Mono', monospace; */
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.page-copy h1 {
  padding-top: 5rem;
  font-size: 2rem;
  color: var(--med-blue);
}

.page-copy p,
.UI p {
  font-family: monospace !important;
  padding: 0.5rem;
}

.page-copy a {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: var(--orange);
  color: white;
}
form {
  background-color: white;
  box-shadow: 0px 0px 10px var(--med-blue);
  border-radius: 10px;
}

a {
  text-decoration: none;
}

ul {
  background-color: transparent !important;
}

.nav-bg {
  background-color: var(--orange);
}

.dropdown-menu.show {
  margin-top: 0.3rem !important;
  background-color: var(--pale-blue) !important;
  font-size: 0.9rem;
  text-align: right;
  width: 20px !important;
}

.dropdown-menu li a {
  padding-right: 1rem;
  padding-left: 0;
}

.dropdown-toggle {
  padding-top: 1rem !important;
}

.UI,
.reviews {
  margin-top: 5rem;
}

footer {
  font-family: monospace;
}

.logo {
  margin-top: 8rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: var(--med-blue);
}

.logo i {
  font-size: 4rem;
  color: var(--orange);
}

.form-input {
  width: 51%;
  margin: 0.3rem;
  background-color: transparent;
  border: 1px solid var(--dark-blue);
  border-radius: 3px;
}

#login,
#signup {
  width: 51%;
}

.rem-me {
  width: fit-content;
  color: var(--dark-blue);
}

.btn {
  background-color: var(--orange);
  color: white;
}

.hr {
  text-align: center;
  width: 51%;
  margin: 1.3rem auto;
  margin-bottom: 0.7rem;
}

.sign-up-a,
.log-in-a {
  color: var(--orange) !important;
}
.sign-up-p,
.log-in-p {
  font-size: 0.8rem !important;
}
input[type='checkbox' i] {
  background: white !important;
}
