:root {
  --orange: #ee6c4d;
  --pale-blue: #e0fbfc;
  --med-blue: #98c1d9;
  --dark-blue: #3d5a80;
  --darkest-blue: #293241;
}

main {
  height: 100vh;
  background: rgb(224, 251, 252);
  background: linear-gradient(
    193deg,
    rgba(224, 251, 252, 1) 24%,
    rgba(238, 108, 77, 1) 100%
  );
}

.navbar {
  background-color: var(--pale-blue);
}

.navbar-brand,
.navbar-brand-disabled {
  font-family: 'Cormorant Garamond', serif;
  font-size: 3rem;
  color: var(--orange);
}

.navbar-brand:hover {
  color: var(--med-blue);
}

.bi-plus-square {
  color: var(--orange);
  font-size: 2rem;
}

h1 {
  font-family: 'Cormorant Garamond', serif;
}

.btn-outline-primary,
.btn-outline-primary:hover,
.btn-outline-primary:active,
.btn-outline-primary:visited,
.btn-outline-primary:focus {
  color: white;
  border-color: var(--darkest-blue);
  background-color: var(--dark-blue);
  border-radius: 10px;
}
.btn:hover {
  box-shadow: 5px 5px var(--med-blue);
  background-color: var(--orange) !important;
  border-color: var(--orange) !important;
}

form {
  background-color: white;
  box-shadow: 0px 0px 10px var(--med-blue);
  border-radius: 10px;
}
